<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer class="mt-auto text-white-50" th:fragment="footer">
    <div sec:authorize="isAuthenticated()">
        Welcome: <span sec:authentication="name"></span>
        authenticated user roles:
        <span class="badge bg-info" sec:authentication="principal.authorities"></span>
    </div>
</footer>

</body>
</html>