<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Error 404</title>
</head>
<body>
<div class="px-3" layout:fragment="main-content">
  <h1>500 Internal Server Error!</h1>
  <h4>I'm sorry, the server encountered an unexpected condition that prevented it from fulfilling the request.</h4>
</div>

</body>
</html>