<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div layout:fragment="main-content">
    <div>
        <h5>User catalogue:</h5>
        <hr>
    </div>
    <div th:if="${ not#lists.isEmpty(users)}">
        <table  class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Account</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.enabled == true ? 'Enabled' : 'Blocked'}"></td>
                <td>
                    <button type="submit" th:id="${user.username}"
                            name="deleteUser" class="btn btn-danger btn-sm"><i class="remove user icon"></i>
                        Delete</button>
                </td>
                <td th:if="${user.enabled}">
                    <button type="submit" th:id="${user.username}"
                            name="deactivateAccount" class="btn btn-warning btn-sm">Deactivate</button>
                </td>
                <td th:if="${!user.enabled}">
                    <button type="submit" th:id="${user.username}"
                            name="activateAccount" class="btn btn-success btn-sm">Activate</button>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
    <div th:if="${#lists.isEmpty(users)}">
        <p>There are no registered users in the app.</p>
    </div>
    <script type="text/javascript">
        $("[name='activateAccount']").click(function() {
            var urlCall = "/users/";
            $.ajax({
                url : urlCall + $(this).attr('id') + "/activate",
                type : 'POST',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/userlist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });
    </script>
    <script type="text/javascript">
        $("[name='deleteUser']").click(function() {
            var urlCall = "/users/";
            $.ajax({
                url : urlCall + $(this).attr('id'),
                type : 'DELETE',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/userlist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });
    </script>
    <script type="text/javascript">
        $("[name='deactivateAccount']").click(function() {
            var urlCall = "/users/";
            $.ajax({
                url : urlCall + $(this).attr('id') + "/deactivate",
                type : 'POST',
                success : function(result) {
                    console.log(result);
                    $(location).attr("href", value="/userlist");
                },
                error : function(result) {
                    console.log(result);
                },
            });
        });
    </script>
</div>
</body>
</html>